.blog-posts {
  position: relative;
  width: 65%;
  left: 10px;
  overflow: hidden;
}

.blog-posts h2,
h3 {
  margin-top: 10px;
  margin-left: 30px;
}

.blog-posts .post-info {
  font-size: 16px;
  margin-left: 200px;
  width: 100%;
}

.blog-posts .post-info span {
  margin: 8px auto;
  width: 230px;
  height: 35px;
  display: inline-block;
  float: left;
}

.blog-posts .post-info {
  overflow: hidden;
}

#editormd-post-1, #editormd-post-2 {
  box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 60px;
}

#editormd {
  margin-top: 30px;
}

.editormd-html-preview {
  box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.2);!important;
}

#gitalk-container {
  position: relative;
  margin: 50px auto;
  width: 950px;
}

.introduction {
  position: fixed;
  right: 50px;
  top: 120px;
  background-color: #fff;
  box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.2);
  width: 23%;
  height: 80%;
}

.introduction img {
  margin: 10px auto;
  width: 30%;
}

.introduction .links {
  width: 60%;
  height: 14%;
  margin-top: 5px;
  margin-left: 75px;
  display: block;
  text-align: center;
}

.introduction .left {
  float: left;
}

.introduction .right {
  float: right;
}

.introduction .articles {
  margin-top: 5px;
  margin-left: 75px;
  width: 60%;
}

.introduction .articles ul li {
  text-align: left;
  margin-top: 10px;
}