.online-submission {
  overflow: hidden;
  position: relative;
  left: 10px;
  width: 90%;
}

.online-submission .post-information {
  text-align: center;
  margin-top:30px;
}

.online-submission .submit-info {
  text-align: center;
  margin: 15px;
}

.online-submission .submit-info span button {
  width: 120px;
  height: 40px;
  color: #fff;
  background-color: #1e293d;
}

.title {
  text-align: center;
}

.card {
  border-radius: 10px;
  box-shadow: 0 15px 35px rgba(50 50 93 .2), 0 5px 15px rgba(0 0 0 .2) !important;
}

.card {
  position: relative;
  margin: 1rem 0 1rem 0;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
}

.card .card-content {
  padding: 24px;
  border-radius: 0 0 2px 2px;
}

#articleContent ul li {
  list-style-type: square;
}

