.online-submission {
  overflow: hidden;
  position: relative;
  left: 10px;
  width: 90%;
}

.online-submission .post-information {
  text-align: center;
  margin-top:30px;
}

.online-submission .submit-info {
  text-align: center;
  margin: 15px;
}

.online-submission .submit-info span button {
  width: 120px;
  height: 40px;
  color: #fff;
  background-color: #1e293d;
}